<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>

 <body>
    <h1>Create a Basketball Team!</h1>
    
        <form method="POST" action="/team">
        <p>Team Name:
         <input type="text" name="name"><br></p>
        <p> Coach:
        <input type="text" name="coach"><br></p>
        <p>Point Guard:
        <input type="text" name="pg"><br></p>
        <p>Shooting Guard:
        <input type="text" name="sg"><br></p>
       <p> Small Forward:
         <input type="text" name="sf"><br></p>
        <p> Power Forward:
         <input type="text" name="pf"><br></p>
        <p> Center:
         <input type="text" name="c"></p>
         <input type="submit" id="Submit">
        </form>
    
 </body>
</html>


