<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
   <form class="" action="/team" method="post">
     <label for="name">Team Name:</label>
     <input type="text" name="name" value=""><br><br>

     <label for="coach">Coach</label>
     <input type="text" name="coach" value=""><br><br>

     <label for="point_guard">Point Guard:</label>
     <input type="text" name="pg" value=""><br><br>

     <label for="shooting_guard">Shooting Guard:</label>
     <input type="text" name="sg" value=""><br><br>

     <label for="small_forward">Small Forward:</label>
     <input type="text" name="sf" value=""><br><br>

     <label for="power_forward">Power Forward</label>
     <input type="text" name="pf" value=""><br><br>

     <label for="center">Center</label>
     <input type="text" name="c" value=""><br><br>

     <input type="submit" name="submit" value="submit" id="Submit">
   </form>
 </body>
</html>
